<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#00BCD4">
	<meta name="fragment" content="!">
	<link rel="shortcut icon" href="/images/pieare_48.png"><!-- 160x160 -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content=" QooApp ">
	<title>#TITLE#</title>
	#CSS#
</head>
<body>
	<div id="app"></div>
	#SCRIPT#
</body>
</html>
