$font-family: "Noto Sans Thai UI", "Noto Sans", "Noto Sans Thai", sans-serif;
$font-size: 16px;

* {
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
  font-family: $font-family;
  font-size: $font-size;
}

input, textarea, select {
  font-family: $font-family;
  font-size: $font-size;
}

h1, h2, h3, h4 {
  margin:0;
}

a {
  color:#333;
  text-decoration:none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  transition: all 0.5s;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius:2px;
}
